@charset "utf-8";

header{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 87.5%;
  margin: 0 auto;
}

h1{
  margin-right: auto;
  word-break: keep-all;
}

ul{
  display: flex;
  justify-content: center;
}

li{
  word-break: keep-all;
  padding: 0 20px;
}

li+li{
  border-left: 1px solid black;
}

@media screen and (max-width: 767px) {
  header{
    max-width: 767px;
  }

  nav,h1,ul{
    width:100%;
    padding:0;
    flex-direction:column; 
  }

h1{
  margin-top: 20px;
}

  li{
    width: 100%;
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid black;
  }

  li+li{
    border-style: none;
    border-bottom: 0;
    border-bottom: 1px solid black;
}

} 